:root {
  --font: 'Roboto', 'sans-serif';
  --color-font: #292929;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-black-hover: #393939;
  --color-border: #e6e6e6;
  --color-grey: #757575;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--color-font);
}

h1 {
  font-weight: 500;
  font-size: 120px;
  margin: 0;
  text-align: center;
}